.addTopic {

    &_content {
        div {
            margin: 5px 0;
        }
    }
}

.TableDelete {
    border-collapse: unset !important;
    &_Head {
       
        &_Row {
          
            &_Cell {
                border: 1px solid;
                text-align: center !important;
            }
        }
    }

    &_Body {
       
        &_Row {
   
            &_Cell {
                text-align: center !important;
                border: 1px solid;
                button{
                    font-size: 15px;
                    cursor: pointer;
                    padding: 5px 10px;
                }
            }
        }
    }
}





.Main_RegisterPrivate{
        background-image: linear-gradient(45deg, #e91e63, #42a5f5);
    
        &_form {
            background-color: white;
            // height: "25%",
            // width: "16%",
            @include mobile1400 () {
                width: 19% !important;
            }
    
            @include mobile1000 () {
                width: 37% !important;
            }
    
            @include mobile600 () {
                height: 27% !important;
                width: 60% !important;
                padding: 10% !important;
            }
    
            &_security {
                @include mobile1400 () {
                    left: 42% !important;
                }
    
                @include mobile1000 () {
                    left: 42% !important;
                }
    
                @include mobile600 () {
                    left: 43% !important;
                }
            }
    
            &_user {}
    
            &_password {}
    
            &_savepass {}
    
            &_button {}
        }
    
}