@import './mixin.scss';
@import './base.scss';
@import './varible.scss';
@import './header/index.scss';
@import './topics/index.scss';
@import './main/main.scss';
@import './footer/index.scss';
@import './container/index.scss';
<<<<<<< HEAD
=======
@import './admin/index.scss';
@import './exercise/index.scss';
>>>>>>> mainmathnew
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
<<<<<<< HEAD
=======
}
.BreadCrumb{
    span{
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }
>>>>>>> mainmathnew
}